.root {
  color: #51eefc;
  cursor: pointer;
  font-style: italic;
  user-select: none;
  width: fit-content;
  position: relative;
}

.text {
  line-height: 1em;
}

.text:not([data-disabled="true"]):hover {
  animation-name: focus;
  animation-duration: 100ms;
}

.text[data-active="true"]:not([data-disabled="true"]) {
  scale: 1.4;
}

@keyframes focus {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.6;
  }
  100% {
    scale: 1.4;
  }
}
