.root {
  color: #51eefc;
  user-select: none;
  width: fit-content;
  cursor: pointer;
  position: relative;
  line-height: 1em;
}

.root:not([data-disabled="true"]):hover {
  animation-name: focus;
  animation-duration: 100ms;
}

.root[data-active="true"]:not([data-disabled="true"]) {
  scale: 1.4;
}

@keyframes focus {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.6;
  }
  100% {
    scale: 1.4;
  }
}
