.root {
  mix-blend-mode: screen;
  position: absolute;
  pointer-events: none;
  transition: top 0.1s;
  z-index: 100;
}

.root.shadow {
  z-index: 0;
}

.cursor {
  background: red;
  clip-path: polygon(100% 0, 0 90%, 85% 100%);
}

.root.shadow .cursor {
  background: #fff;
}

.heartbeat {
  animation: heartbeat 0.8s infinite;
  will-change: scale;
}

@keyframes heartbeat {
  0% {
    scale: 1;
  }
  20% {
    scale: 1.05;
  }
  35% {
    scale: 1;
  }
}
